<div class="row">
    <h2>Hard & Soft Skills</h2>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="85" [radius]="100" [imageSrc]="'../../../assets/logohtml.png'" [showImage]="true"
            [imageHeight]="100" [imageWidth]="110" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
            [outerStrokeColor]="' #e44c24'" [innerStrokeColor]="'#ec9c84'" [animation]="true" [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="85" [radius]="100" [imageSrc]="'../../../assets/logocss.png'" [showImage]="true"
            [imageHeight]="100" [imageWidth]="80" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
            [outerStrokeColor]="'#0474bc'" [innerStrokeColor]="'#5892c7'" [animation]="true" [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="85" [radius]="100" [imageSrc]="'../../../assets/logojs.png'" [showImage]="true"
            [imageHeight]="100" [imageWidth]="180" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
            [outerStrokeColor]="'#e8ab29'" [innerStrokeColor]="'#f7df1e'" [animation]="true" [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="85" [radius]="100" [imageSrc]="'../../../assets/colaboracion.png'"
            [showImage]="true" [imageHeight]="100" [imageWidth]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
            [outerStrokeColor]="' #A5C882'" [innerStrokeColor]="'#CED37A'" [animation]="true" [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="85" [radius]="100" [imageSrc]="'../../../assets/consensus.png'" [showImage]="true"
            [imageHeight]="100" [imageWidth]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
            [outerStrokeColor]="' #80BD9F'" [innerStrokeColor]="'#6DB7AD'" [animation]="true" [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="85" [radius]="100" [imageSrc]="'../../../assets/curiosity.png'" [showImage]="true"
            [imageHeight]="100" [imageWidth]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
            [outerStrokeColor]="' #5AB1BB'" [innerStrokeColor]="'#4E6766'" [animation]="true" [animationDuration]="300">
        </circle-progress>
    </div>
</div>