<div class="row">
    <h2>Proyectos realizados</h2>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>Ingreso de Datos</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste labore similique, voluptatem est, enim, fugiat quis illum vel expedita exercitationem aperiam nesciunt sequi veniam saepe.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
<img src="../../../assets/proyecto1.png" class="img-fluid img-proyecto" alt="">
        </div>
    </div>
</div>