<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfilPhoto.jpg" class="img-fluid" id="fotoDePerfil">
        <p id="nombre">Cristian Leonardo Rodriguez</p>
        <p>Full Stack Developer Jr.</p>
    </div>
    
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum repudiandae officiis velit voluptate magni
                perspiciatis illo id distinctio optio praesentium magnam sunt, consequatur maxime inventore voluptatibus
                placeat libero nobis, rerum accusamus neque? Repellendus veniam commodi quasi distinctio nulla cumque
                ducimus! Cupiditate tenetur nisi hic sint cum enim, ratione alias pariatur!</p>
        </span>
    </div>
</div>